/* emoji styles */
.buttons-like[data-set="true"] {
    font-weight: bold;
    color: #ce3434;
}

.reaction {
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
}

.spideymoji-container {
    width: 340px;
    display: none;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: -50px;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 2px  2px #aaa;
}

.spideymoji {
    position: absolute;
    display: inline-block;
    height: 40px;
}

.spideymoji img {
    height: 40px;
    width: 40px;
    transition: 0.2s;
}

.spideymoji-hovered img {
    height: 50px;
    width: 50px;
    margin-left: -5px;
    margin-top: -25px;
}

.spideymoji-hovered::before {
    content:" ";
    background-color: #0059c7;
    border-radius: 30px;
    display: block;
    width: 50px;
    height: 16px;
    padding: 2px 5px;
    position: absolute;
    top: -50px;
    margin-left: -10px;
    opacity: .8;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-family: sans-serif;
}

.spidey-thwip {
    left: 5px;
}

.spidey-yay {
    left: 55px;
}

.spidey-love {
    left: 105px;
}

.spidey-wow {
    left: 155px;
}

.spidey-huh {
    left: 205px;
}

.spidey-sad {
    left: 255px;
}

.spidey-angry {
    left: 305px;
}

.spidey-thwip.spideymoji-hovered::before {
    content: "Thwip";
}

.spidey-yay.spideymoji-hovered::before {
    content: "Yay";
}

.spidey-love.spideymoji-hovered::before {
    content: "Love";
}

.spidey-wow.spideymoji-hovered::before {
    content: "Wow";
}

.spidey-huh.spideymoji-hovered::before {
    content: "Huh"
}

.spidey-sad.spideymoji-hovered::before {
    content: "Sad";
}

.spidey-angry.spideymoji-hovered::before {
    content: "Angry";
}
